/**
 * @name Instheme
 * @author insti#0001
 * @version 1.0.0
 * @description meme
*/


* {
	font-size: 13px !important;
}

.cozy-3raOZG.wrapper-2a6GCs {
	padding-left: 48px !important; 
}

.circleIconButton-jET_ig.da-circleIconButton {
	visibility: hidden;
}

.markup-2BOw-j {
	text-justify: inter-word !important;
}

.avatar-1BDn8e {
	border-radius: 0;
	height: 27px !important;
	width: 27px !important;
	margin-left: -5px;
	margin-top: 0px;
	border-radius: 50% !important;
}

.username-1A8OIy {
	font-weight: bold !important;
}

.modeSelected-1zApJ {
	font-weight: bold !important;
}

.header-2o-2hj{
	background: rgba(0,0,0,0) !important;
}

/*.content-3at_AU {
	border-radius: 0px 30px 30px 0px;
	width: 95%;
}*/